div{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 100;
  height: 15rem;
  color: var(--dark);
}
a{
  font-size: 1.1rem;
  background-color: var(--primary);
  color: white;
  border-radius: 10rem;
  padding: 0.7rem 1rem;
  margin: 1rem;
  opacity: 0.8;
  text-decoration: none;
}
a:hover{
  opacity: 1;
  cursor: pointer;
}
