.btn.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
  }
  .btn.btn-primary:hover{
    background-color: #0B93C4;
  }
  .btn.btn-outline-primary{
    border-color: var(--primary);
    color: var(--primary);
  }
  .btn.btn-outline-primary:hover{
    border-color: var(--primary);
    background-color: var(--primary);
    color: white;
  }
  .card{
    border-color: var(--primary);;
  }
  .remove-button{
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    color: white;
    outline: none;
    background-color:  #c41b1b;
  }
  
  .remove-button:hover{
    cursor: pointer;
    color:  #c41b1b;
    background: white;
    border: 1px solid  #c41b1b;
  }