<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" width="500px" height="600px" [src]="proizvod.imageUrl" [alt]="proizvod.naziv" /></div>
            <div class="col-md-6">
                <div class="small mb-1">ID: {{proizvod.id}}</div>
                <h1 class="display-5 fw-bolder">{{proizvod.naziv}}</h1>
                <div class="fs-5 mb-5">
                    <span>{{proizvod.cena}} din</span>
                </div>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                <div class="d-flex pt-4">
                    <button type="button" (click)="addToCart()" class="btn btn-outline-primary me-2">Dodaj u korpu</button>
                </div>
            </div>
        </div>
    </div>
</section>
  