<section id="aboutus">
    <div class="tekst">
        <div class="nekitekst">
            <h2>Gvožđara Metal Raša</h2><br>
            <h3>Ko smo mi?</h3><br>
            <p>Gvožđara Metal Raša u svojoj ponudi nudi veliki izbor alata, rasveta i sanitarija - kod nas možete pronaći od igle do lokomotive.</p>
            <h3>Gde nas možete pronaći?</h3><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2847.3744514148443!2d19.8207523!3d44.466496799999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a2764cbaf929f%3A0x80fa2bc6d1539bd8!2z0J3QtdC80LDRmtC40L3QsCA2OCwg0JrQvtGG0LXRmdC10LJh!5e0!3m2!1ssr!2srs!4v1656608438129!5m2!1ssr!2srs" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>	
    <div class="slikica">
        <img src="assets/clanovi.jpg" alt="" width = "550" height = "550">
    </div>	
    </div>
</section>